*{
    margin: 0;
    padding: 0;
}


.top-box{
    display: flex;
  }

.left-box {
    flex: 0 0 50%;
    margin-right: 50px;
  }

.right-box {
    flex: 1;
  }


.option-selection p{
    font-size: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    /*word-wrap: break-word; /*used this for wrapping please check this on the loading of the data*/
    color: var(--dark-primary-color);
}


.extended-fab, .extended-fab-selected{
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    background: var(--window-color);
    color: var(--primary-text-color);
}

.extended-fab:hover, .extended-fab-selected{
    background: var(--dark-primary-color);
    color: var(--window-color);
    transform: scale(1.05);
}

.extended-fab-selected{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

#topics-holder, #schools-holder, #faculties-holder{
    height: 100px;
    overflow: auto;
}

#topics-holder .extended-fab, #topics-holder .extended-fab-selected{
    /*width: 85%;*/
    /*word-wrap: break-word; /*used this for wrapping please check this on the loading of the data*/
}

#topics-holder .extended-fab:hover, #topics-holder .extended-fab-selected{
    transform: scale(1.01);
}

#create-topic, #create-question{
    height: 46px;
    border-radius: 28px;
    margin-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background: var(--primary-text-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: none;
    display: inline-flex;
    color: var(--text-primary-color);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#create-topic:hover, #create-question:hover{
    transform: scale(1.01);
    background: var(--primary-color);
}

.text-input{
    width: 100%;
}

.text-input textarea, .text-input input{
    width: 75%;
    height: 20px;
    resize: none; /*its was originally vertical but changed to none so that the user cannot resize textarea*/
}

/* rich text*/
.toolbar{
    width: 95%;
    justify-content: flex-end;
}

.tool-list {
    justify-content: flex-end;
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	padding: 0;
	margin: 0rem;
	overflow: hidden;
    width: 100%;
	border-radius: 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right:1px solid black;
}

.tool--btn {
    background-color:white;
	display: block;
	border: none;
	padding: .5rem;
	font-size: 20px;
}

.tool--btn:focus{
    background-color:black;
    color:white;
    outline: none;
}

#output {
    width: 95%;
    outline: none;
	height: 200px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.0), 0 6px 6px rgba(0,0,0,0.23);
	margin-top: 0rem;
	padding: 0rem;
    border-left: 1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
    overflow:auto;
}
