*{
    margin: 0;
    padding: 0;
}

.select-block{
    display: inline-block;
}

#questions-container{
    display: block;
    padding-top: 16px;
    overflow-x: auto;
}

.div-part1{
    width: 100%;
    display: flex;
    overflow: auto;
}

.div-part2{
    width: 100%;
    display: flex;
    margin-top: 16px;
}

.question-details{
    font-size: small;
    color: rgb(97, 97, 97);
    position: absolute;
}

.question-text{
    margin-top: 30px;
    display: block;
    position: relative;
}

.question-view{
    display: block;
    padding: 16px;
    cursor: pointer;
    border-bottom: 1px solid var(--section-divider);
    transition: 0.3s;
}

.question-view:hover{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: var(--light-primary-color);
}

.small-image{
    margin-left: 100px;
    height: 100px;
}

    /* PDF icon */
p:not(.cssonly) a[href$=".pdf"]:before {
    margin-left: 100px;
    width:100px;
    height:122px;
    background:url('../html/pdficon.png');
    background-size: 100%;
    display:inline-block;
    content:' ';
}
