#question-text{
    color: var(--dark-primary-color);
    padding: 16px;
    text-wrap: normal; /* i dont know the purpose of this my IDE does not accept this type of property for wrapping*/
    font-size: 20px;
    font-weight: bold;
}

header{
    border-bottom: none;
}

section{
    flex-direction: column;
}

.answers-label{
    font-size: 25px;
    font-weight: lighter;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    color: var(--secondary-text-color);
}

hr{
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: 1px solid var(--section-divider);
    border-left: none;
    border-right: none;
    border-top: none;
}

.option-selection{
    padding-left: 16px;
    padding-right: 16px;
}

.option-selection p{
    font-size: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--dark-primary-color);
}

.answer-view{
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    cursor: default;
    border-bottom: 1px solid var(--section-divider);
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}
.total{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px;
}
.up{
    margin-left: 5px;
    margin-right: 5px;
    background: white;
    color: rgb(0, 167, 50);
    border: 1px solid rgb(0, 167, 50);
    border-radius: 10px;
    padding: 5px 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.down{
    margin-left: 5px;
    margin-right: 5px;
    background: white;
    color: rgb(189, 0, 0);
    border: 1px solid rgb(189, 0, 0);
    border-radius: 10px;
    padding: 5px 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
/*not really sure if we need it
.answer-view:hover{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: var(--light-primary-color);
}*/

#create-answer {
    height: 46px;
    border-radius: 28px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background: var(--primary-text-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: none;
    display: inline-flex;
    color: var(--text-primary-color);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#create-answer:hover{
    transform: scale(1.01);
    background: var(--primary-color);
}

.text-input{
    width: 100%;
}

.text-input textarea{
    width: 99%;
    height: 200px;
    resize: vertical;
}

/* rich text*/
.tool-list {
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	padding: 0;
    padding-top: 1rem;
	margin: 0rem;
	overflow: hidden;
	border-radius: 10px;
}

.tool--btn {
	display: block;
	border: none;
	padding: .5rem;
	font-size: 20px;
}

.tool--btn:focus{
    background-color:black; 
    color:white;   
}

#output {
	height: 200px; 
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin-top: 1rem;
	padding: 0rem;
}

.bottom-navbar {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
